<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="DK\GoogleTagManager\Model\Session\Storage" type="Magento\Framework\Session\Storage">
        <arguments>
            <argument name="namespace" xsi:type="string">googleTagManager</argument>
        </arguments>
    </virtualType>
    <type name="Dk\GoogleTagManager\Model\Session">
        <arguments>
            <argument name="storage" xsi:type="object">DK\GoogleTagManager\Model\Session\Storage</argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Model\GuestPaymentInformationManagement">
        <plugin name="dk-googletagmanager-guest-payment-information" type="DK\GoogleTagManager\Plugin\GuestPaymentInformation"/>
    </type>
</config>
