<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
   <preference for="DK\GoogleTagManager\Api\DataLayerListInterface" type="DK\GoogleTagManager\Model\DataLayerList"/>
   <preference for="Dk\GoogleTagManager\Factory\DataLayerFactoryInterface" type="Dk\GoogleTagManager\Factory\DataLayerFactory"/>
   <preference for="Dk\GoogleTagManager\Factory\ImpressionHandlerFactoryInterface" type="Dk\GoogleTagManager\Factory\ImpressionHandlerFactory"/>

    <type name="DK\GoogleTagManager\Api\DataLayerListInterface">
        <arguments>
            <argument name="dataLayers" xsi:type="array">
                <item name="product-view" xsi:type="string">DK\GoogleTagManager\Model\DataLayer\ProductView</item>
                <item name="cart-view" xsi:type="string">DK\GoogleTagManager\Model\DataLayer\CartView</item>
                <item name="purchase-view" xsi:type="string">DK\GoogleTagManager\Model\DataLayer\PurchaseView</item>
                <item name="checkout-view" xsi:type="string">DK\GoogleTagManager\Model\DataLayer\CheckoutView</item>
                <item name="product-related-view" xsi:type="string">DK\GoogleTagManager\Model\DataLayer\Impressions\ProductRelatedView</item>
                <item name="click-impression-view" xsi:type="string">DK\GoogleTagManager\Model\DataLayer\Impressions\ClickImpressionView</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Customer\CustomerData\SectionPoolInterface">
        <arguments>
            <argument name="sectionSourceMap" xsi:type="array">
                <item name="analyzer-data" xsi:type="string">DK\GoogleTagManager\CustomerData\AnalyzerData</item>
            </argument>
        </arguments>
    </type>
</config>
