<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
   <preference for="DK\GoogleTagManager\Api\DataLayerListInterface" type="DK\GoogleTagManager\Model\DataLayerList"/>

    <type name="DK\GoogleTagManager\Api\DataLayerListInterface">
        <arguments>
            <argument name="dataLayers" xsi:type="array">
                <item name="product-view" xsi:type="string">DK\GoogleTagManager\Model\DataLayer\ProductView</item>
                <item name="cart-view" xsi:type="string">DK\GoogleTagManager\Model\DataLayer\CartView</item>
                <item name="checkout-success-view" xsi:type="string">DK\GoogleTagManager\Model\DataLayer\CheckoutSuccessView</item>
            </argument>
        </arguments>
    </type>
</config>
