<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_quote_remove_item">
        <observer name="dk_data_layer_cart_remove_item" instance="DK\GoogleTagManager\Observer\SalesQuoteRemoveItemObserver" />
    </event>
    <event name="catalog_block_product_list_collection">
        <observer name="dk_data_layer_catalog_block_product_list_collection" instance="DK\GoogleTagManager\Observer\CatalogBlockProductListCollectionObserver"/>
    </event>
    <event name="catalog_controller_product_view">
        <observer name="dk_data_layer_catalog_controller_product_view" instance="DK\GoogleTagManager\Observer\CatalogControllerProductViewObserver"/>
    </event>
</config>