<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="google" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Google Tag Manager</label>
            <tab>sales</tab>
            <resource>DK_GoogleTagManager::googletagmanager</resource>
            <group id="googletagmanager" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Google Tag Manager</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="account" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Account Number</label>
                    <comment>
                        <![CDATA[You can add a new Account Number <a href="https://www.google.com/analytics/tag-manager/" target="_blank">here</a>]]>
                    </comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="product_identifier" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product Identifier</label>
                    <source_model>DK\GoogleTagManager\Model\Config\Source\ProductIdentifiers</source_model>
                </field>
                <field id="brand_enable" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Brand</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="brand_attribute" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Attribute of brand</label>
                    <source_model>DK\GoogleTagManager\Model\Config\Source\ProductAttributes</source_model>
                    <depends>
                        <field id="brand_enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>